.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.box-weather{
width: 400px;
background-color: rgb(132 170 209);
border-radius: 10px;
padding: 10px;
font-family: Arial, sans-serif;
box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.75);


}
.box-weather .search{
    text-align: center;
     margin: auto;
     margin-top: 20px;
}
.box-weather .search  input{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ffffff;
    outline: none;
    margin-right: 20px;
}
.box-weather .search button{
    padding: 10px;
    background-color: white;
    border: none;
    outline: none;
    border-radius: 50%;
}
.details{
    text-align: center;
    /* margin: 10px 0; */
}
.details img{
    width: 170px;
}
.details h1{
    font-size: 60px;
    margin-top: -20px;
    color: white;
}
.details h2{
    font-size: 40px;
    margin-top: 20px;
    text-transform: capitalize;
    color: rgb(255, 255, 255);
}
.more-detail{
display: flex;
justify-content: space-between;
align-items: center;
}
.more-detail .col{
    display: flex;
}
.more-detail .col img{
    width: 70px;
    height: 70px;
    margin-right: 20px;
}
.more-detail .col p{
    font-weight: 700;
    color: #fff;

    
}